*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background: url("../images/welcome.jpg") no-repeat center;
    background-size:cover;
}
.uas{
    text-align: center;
    margin: 250px;
    background-color: rgba(249, 249, 252, 0.644);
    padding-top: 100px;
    padding-bottom: 100px;
    color: black;
    border-radius: 10px;
}